In [1]:
import pandas as pd
import tkinter as tkr
from tkinter import *

In [2]:
movies = pd.read_csv('movies.csv')
movies = movies.sort_values(by='title')
rating = pd.read_csv('ratings.csv')
mov_rat= pd.merge(rating,movies,on='movieId')
pivot = mov_rat.pivot_table(index='userId',columns='title',values='rating')

In [11]:
mov_rat.head()
pivot.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
app = tkr.Tk('Movie_Recommender')
app.title('Movie Recommender')
app.geometry('600x400')

''

In [5]:
w = Scrollbar(app)

In [6]:
myList = Listbox(app,yscrollcommand=w.set,width=50)
for i in movies['title']:
    myList.insert(END,i)
myList.pack(side='left',fill=BOTH)
w.config( command = myList.yview )
w.place(in_=myList,relx=1,relheight=1)

In [7]:
def mov_recc():
    var = myList.get(myList.curselection())
    simm_corr = pivot.corrwith(pivot[var])
    simm_corr = pd.DataFrame(simm_corr,columns=['similarity'])
    simm_corr['count'] = mov_rat.groupby('title')['rating'].count()
    car = simm_corr[simm_corr['count']>40].sort_values(by = 'similarity',ascending=False).head(5)
    car_list = Listbox(app,width=35)
    sim_list = [str(i) for i in (car[car.columns[0]])]
    if sim_list[0] == 'nan' :
        car_list.insert(END,'Please Select Another one')
    else:
        for i in car.index[:3].tolist():
            car_list.insert(END,i)
    msg = tkr.Variable(app)
    msg.set('Recommendations:')
    tkr.Label(app, textvariable=msg).place(x=350,y=50)
    car_list.place(x=350,y=100)
    print(var,car)

In [8]:
tkr.Button(app,text='Show Recommendations',command=mov_recc).place(x=390,y=350)

In [12]:
app.mainloop()